<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Codebreaker Game</title>

    <link rel="icon" type="image/svg+xml" href="favicon.svg" sizes="any">
    <link rel="icon" type="image/png" href="favicon.png" sizes="32x32">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <noscript>JavaScript is needed. Please enable JavaScript for this page in your browser.</noscript>

    <!-- ui template -->
    <div id="app">
        <h1 class="center">{{ visibleTeamName }}</h1>
        <div class="columns p-6">
            <!-- Left section containing the team information -->
            <aside class="column-17">
                <h1 class="title">Teams</h1>
                <p class="menu-label">{{ team1.team.name }}:</p>
                <ul class="menu-list">
                    <li v-for="player in team1.team.members">{{ player.avatar }}&nbsp;{{ player.playerName }}{{
                        (player.id == team1.encoder?.id ? ' 🔑' : '') }}</li>
                </ul>
                <p class="menu-label">{{ team2.team.name }}:</p>
                <ul class="menu-list">
                    <li v-for="player in team2.team.members">{{ player.avatar }}&nbsp;{{ player.playerName }}{{
                        (player.id == team2.encoder?.id ? ' 🔑' : '') }}</li>
                </ul>
                <br>
                <h1 class="title">Status</h1>
                <p class="menu-label">Round: {{ round }}</p>
                <button @click="initGame" :disabled="anyTeamNeedsPlayer">Restart</button>
            </aside>
            <!-- Middle section containing the code words -->
            <main class="column-66" style="border-left: 1px solid #36363640; border-right: 1px solid #36363640;">
                <article>
                    <section class="columns">
                        <div class="column-25">
                            <div class="panel">
                                <h1 class="panel-head" :class="teamFillClass">{{ visibleKeywords[0] }}</h1>
                                <p class="panel-block" v-for="code in visibleTeam.word1.hints">{{ code }}</p>
                            </div>
                        </div>
                        <div class="column-25">
                            <div class="panel">
                                <h1 class="panel-head" :class="teamFillClass">{{ visibleKeywords[1] }}</h1>
                                <p class="panel-block" v-for="code in visibleTeam.word2.hints">{{ code }}</p>
                            </div>
                        </div>
                        <div class="column-25">
                            <div class="panel">
                                <h1 class="panel-head" :class="teamFillClass">{{ visibleKeywords[2] }}</h1>
                                <p class="panel-block" v-for="code in visibleTeam.word3.hints">{{ code }}</p>
                            </div>
                        </div>
                        <div class="column-25">
                            <div class="panel">
                                <h1 class="panel-head" :class="teamFillClass">{{ visibleKeywords[3] }}</h1>
                                <p class="panel-block" v-for="code in visibleTeam.word4.hints">{{ code }}</p>
                            </div>
                        </div>
                    </section>
                    <footer class="columns footer">
                        <div class="column-50 center">
                            <p>Wrong guesses of the own team:</p><span id="wrong-self-1">X</span><span
                                id="wrong-self-2">O</span>
                        </div>
                        <div class="column-50 center">
                            <p>Correct guesses of the enemy team:</p><span id="correct-others-1">O</span><span
                                id="correct-others-2">O</span>
                        </div>
                    </footer>
                </article>
                <nav class="center">
                    <ul>
                        <li class="team1-fill-action" :class="{'is-active': visibleTeamId == 1}" id="team-select-a"
                            @click="showTeam1">{{ team1.team.name }}
                        </li>
                        <li class="team2-fill-action" :class="{'is-active': visibleTeamId == 2}" id="team-select-a"
                            @click="showTeam2">{{ team2.team.name }}
                        </li>
                    </ul>
                </nav>
            </main>
            <!-- Right section containing the current code and its hints -->
            <section class="column-17">
                <div class="columns">
                    <div class="column-25">
                        <div class="panel">
                            <!-- Current 3-digit code -->
                            <h1 class="panel-head" :class="teamFillClass">
                                <div class="code">
                                    <span>{{ visibleCode[0] }}</span>
                                    <span>{{ visibleCode[1] }}</span>
                                    <span>{{ visibleCode[2] }}</span>
                                </div>
                            </h1>
                            <!-- 1st line of the 3-digit code -->
                            <div class="panel-block">
                                <input type="text" v-model.trim="visibleHints[0]" :class="teamBorderClass" id="hint1"
                                    :placeholder="hintPlaceholder[0]">
                                <!-- Dropdown for guess of own team -->
                                <select id="guess1" v-model="visibleGuess1" :class="teamFillActionClass">
                                    <option value="">&#9660</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                                <!-- Dropdown for guess of enemy team -->
                                <select id="guessOthers1" :class="teamFillActionClass" disabled>
                                    <option value="">?</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                            <!-- 2nd line of the 3-digit code -->
                            <div class="panel-block">
                                <input type="text" v-model.trim="visibleHints[1]" :class="teamBorderClass" id="hint2"
                                    :placeholder="hintPlaceholder[1]">
                                <!-- Dropdown for guess of own team -->
                                <select id="guess2" v-model="visibleGuess2" :class="teamFillActionClass">
                                    <option value="">&#9660</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                                <!-- Dropdown for guess of enemy team -->
                                <select id="guessOthers2" :class="teamFillActionClass" disabled>
                                    <option value="">?</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                            <!-- 3rd line of the 3-digit code -->
                            <div class="panel-block">
                                <input type="text" v-model.trim="visibleHints[2]" :class="teamBorderClass" id="hint3"
                                    :placeholder="hintPlaceholder[2]">
                                <!-- Dropdown for guess of own team -->
                                <select id="guess3" v-model="visibleGuess3" :class="teamFillActionClass">
                                    <option value="">&#9660</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                                <!-- Dropdown for guess of enemy team -->
                                <select id="guessOthers3" :class="teamFillActionClass" disabled>
                                    <option value="">?</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                            <!-- Button to submit -->
                            <div class="panel-block">
                                <input type="button" :value="submit_text" @click="submit" :disabled="is_submit_disabled"
                                    class="button-submit" :class="teamFillActionClass">
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>

    <!-- code logic -->
    <script type="module" src="logic.mjs"></script>
</body>

</html>