<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Codebreaker Game</title>

    <link rel="icon" type="image/svg+xml" href="favicon.svg" sizes="any">
    <link rel="icon" type="image/png" href="favicon.png" sizes="32x32">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <noscript>JavaScript is needed. Please enable JavaScript for this page in your browser.</noscript>

    <!-- ui template -->
    <h1 class="center">Team A</h1>
    <div id="app" class="columns p-6">
        <!-- Left section containing the team information -->
        <aside class="column-15">
            <h1 class="title">Teams</h1>
            <p class="menu-label">Blue:</p>
            <ul class="menu-list">
                <li v-for="player in team1.players">{{ player }} 🧑</li>
            </ul>
            <p class="menu-label">Red:</p>
            <ul class="menu-list">
                <li v-for="player in team2.players">{{ player }} 🔑</li>
            </ul>
            <br>
            <h1 class="title">Status</h1>
            <p class="menu-label">Round: {{ round }}</p>
        </aside>
        <!-- Middle section containing the code words -->
        <main class="column-70" style="border-left: 1px solid #36363640; border-right: 1px solid #36363640;">
            <article>
                <section class="columns">
                    <div class="column-25">
                        <div class="panel">
                            <h1 class="panel-head">{{ myTeam.keywords[0] }}</h1>
                            <p class="panel-block" v-for="code in myTeam.word1.hints">{{ code }}</p>
                        </div>
                    </div>
                    <div class="column-25">
                        <div class="panel">
                            <h1 class="panel-head">{{ myTeam.keywords[1] }}</h1>
                            <p class="panel-block" v-for="code in myTeam.word2.hints">{{ code }}</p>
                        </div>
                    </div>
                    <div class="column-25">
                        <div class="panel">
                            <h1 class="panel-head">{{ myTeam.keywords[2] }}</h1>
                            <p class="panel-block" v-for="code in myTeam.word3.hints">{{ code }}</p>
                        </div>
                    </div>
                    <div class="column-25">
                        <div class="panel">
                            <h1 class="panel-head">{{ myTeam.keywords[3] }}</h1>
                            <p class="panel-block" v-for="code in myTeam.word4.hints">{{ code }}</p>
                        </div>
                    </div>
                </section>
                <footer class="columns footer">
                    <div class="column-50 center">
                        <p>Wrong guesses of the own team:</p><span id="wrong-self-1">X</span><span
                            id="wrong-self-2">O</span>
                    </div>
                    <div class="column-50 center">
                        <p>Correct guesses of the enemy team:</p><span id="correct-others-1">O</span><span
                            id="correct-others-2">O</span>
                    </div>
                </footer>
            </article>
            <nav class="tabs center">
                <ul>
                    <li class="is-active"><a id="team-select-a" href="#">Team A</a></li>
                    <li><a id="team-select-b" href="#">Team B</a></li>
                </ul>
            </nav>
        </main>
        <!-- Right section containing the current code and its hints -->
        <section class="column-15">
            <div class="columns">
                <div class="column-25">
                    <div class="panel">
                        <!-- Current 3-digit code -->
                        <h1 class="panel-head">
                            <div class="code">
                                <span>{{ myTeam.code[0] }}</span>
                                <span>{{ myTeam.code[1] }}</span>
                                <span>{{ myTeam.code[2] }}</span>
                            </div>
                        </h1>
                        <!-- 1st line of the 3-digit code -->
                        <div class="panel-block">
                            <input type="text" id="hint1" :placeholder="myTeam.keywords[myTeam.code[0] - 1]">
                            <!-- <input type="number" id="guess1" min="1" max="4">
                            <input type="number" id="guessOthers1" min="1" max="4"> -->
                            <!-- Dropdown for guess of own team -->
                            <select id="guess1">
                                <option value="">&#9660</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                            <!-- Dropdown for guess of enemy team -->
                            <select id="guessOthers1">
                                <option value="">?</option>
                                <option value="1" disabled>1</option>
                                <option value="2" disabled>2</option>
                                <option value="3" disabled>3</option>
                                <option value="4" disabled>4</option>
                            </select>
                        </div>
                        <!-- 2nd line of the 3-digit code -->
                        <div class="panel-block">
                            <input type="text" id="hint2" :placeholder="myTeam.keywords[myTeam.code[1] - 1]">
                            <!-- Dropdown for guess of own team -->
                            <select id="guess2">
                                <option value="">&#9660</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                            <!-- Dropdown for guess of enemy team -->
                            <select id="guessOthers2">
                                <option value="">?</option>
                                <option value="1" disabled>1</option>
                                <option value="2" disabled>2</option>
                                <option value="3" disabled>3</option>
                                <option value="4" disabled>4</option>
                            </select>
                        </div>
                        <!-- 3rd line of the 3-digit code -->
                        <div class="panel-block">
                            <input type="text" id="hint3" :placeholder="myTeam.keywords[myTeam.code[2] - 1]">
                            <!-- Dropdown for guess of own team -->
                            <select id="guess3">
                                <option value="">&#9660</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                            <!-- Dropdown for guess of enemy team -->
                            <select id="guessOthers2">
                                <option value="">?</option>
                                <option value="1" disabled>1</option>
                                <option value="2" disabled>2</option>
                                <option value="3" disabled>3</option>
                                <option value="4" disabled>4</option>
                            </select>
                        </div>
                        <!-- Button to submit -->
                        <div class="panel-block">
                            <input type="button" class="button-submit" value="Submit">
                        </div>
                    </div>
                </div>
            </div>


        </section>
    </div>

    <!-- code logic -->
    <script type="module" src="logic.mjs"></script>
</body>

</html>