body {
    /* Font */
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: dimgray;

    /* Background color */
    background-color: white;
}

/* team styling */
.team1-fill {
    color: white;
    background-color: #6096b4;
}

.team1-fill-action {
    color: white;
    background-color: #93bfcf;
}

.team1-fill-action:hover:enabled {
    color: white;
    background-color: #6096b4;
}

.team1-fill-action:active {
    color: black;
    background-color: #c5dce5;
}

.team1-border {
    border: 2px solid #93bfcf;
    border-radius: 5px;
}

.team1-border:focus {
    border: 2px solid pink;
}

.team2-fill {
    color: white;
    background-color: #ad5f7e;
}

.team2-fill-action {
    color: white;
    background-color: #ce94b0;
}

.team2-fill-action:hover:enabled {
    color: white;
    background-color: #ad5f7e;
}

.team2-fill-action:active {
    color: black;
    background-color: #e5c5d4;
}

.team2-border {
    border: 2px solid #ce94b0;
    border-radius: 5px;
}

.team2-border:focus {
    border: 2px solid lightcyan;
}

/* Text alignment */
.left {
    text-align: start;
}

.center {
    text-align: center;
}

.right {
    text-align: end;
}

/* Button "Submit" */
.button-submit {
    display: inline-block;
    width: 7.5em;
    padding: 10px;
    margin-left: 0px;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1.25em;
    font-weight: 700;
    /* Show hand icon while hovering over button */
    cursor: pointer;
}

.button-submit:disabled {
    cursor: not-allowed;
}

.button-submit:hover:enabled {
    /* 1: Horizontal offset, 2: Vertical offset, 3: Blur radius, 4: Colour */
    box-shadow: 5px 5px 10px grey;
    transition: 0s;
}

/* Input field for text */
input[type=text] {
    /* Padding and border are within the size */
    box-sizing: border-box;
    min-width: 9em;
    height: 3em;
    padding: 10px;
    margin-left: 0px;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 5px;
    text-align: left;
    /* Do not highlight when clicked on */
    outline: none;
}

/* Navigation */
nav li {
    border-bottom: 0px solid grey;
    border-radius: 5px;
    min-width: 10em;
    text-align: center;
    list-style-type: none;
    display: inline-block;
    margin: 0.5em;
    padding: 1ex;
    padding-top: 1em;
    padding-bottom: 1em;
    /* Show hand icon while hovering over button */
    cursor: pointer;
}

nav li.is-active {
    border-width: 4px;
    font-weight: bold;
}

/* Links */
a {
    text-decoration: none;
}

/* Column layout */
.columns {
    display: flex;
    justify-content: center;
}

section.columns {
    flex-wrap: wrap;
}

.column-17 {
    flex-basis: 17%;
}

.column-25 {
    flex-shrink: 1;
}

.column-50 {
    flex-grow: 1;
}

.column-66 {
    flex-basis: 66%;
}

.panel {
    min-width: 15em;
    min-height: 50ex;
    /* border: 1px solid #6096b4; */
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px grey;
    margin: 1em;
    margin: 1em;
    padding: 0em;
    /* Colouring background */
    background: white;
    /* Grey: gainsboro */
    /* Blue: #6096b4 */
    /* Red: #e97777 */
}

.panel-head {
    width: 100%;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.panel-block {
    text-align: center;
    line-height: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.code {
    display: flex;
    justify-content: space-around;
    padding-left: 2em;
    padding-top: 0em;
    padding-right: 2em;
    padding-bottom: 0em;
}

.menu-label {
    font-size: 1.25em;
    font-weight: 700;
    margin-left: 10px;
}

select {
    /* Remove default drop down arrow */
    appearance: none;
    /* Padding and border are within the size */
    box-sizing: border-box;
    width: 3em;
    height: 3em;
    padding: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
    /* Show hand icon while hovering over button */
    cursor: pointer;
}